.header {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    margin: 10px 20px;
    padding: 0 30px;
    border: 2px solid beige;
    border-radius: 40px 0;
    background-color: rgb(106, 158, 203);
}

.links {
    cursor: pointer;
    font-size: 1rem;
    display: flex;
}

.links-name {
    color: #fff;
    padding: 20px;
    text-decoration: none;
    transition: box-shadow 0.3 ease;
}

.links-name:hover {
    color: rgb(79, 174, 131);
    box-shadow: 0 0 5px rgba(256, 256, 256, .5);
    border-radius: 30px;
}

.auth {
    border: 1px solid gray;
    border-radius: 30px;
    padding: 10px;
    background-color: aliceblue;
}
.auth .signup {
    text-decoration: none;
    color: #000;
    
}

